.content-wrapper
  min-height 100%
  padding-bottom -100px
  padding-top -70px
  display: block
.banner
  background-color header-color
.banner_wrap
  padding 0
.city
  width 100%
.news
  text-align center
  background-color btn-color
  color white
.art
  width 100%
.article
  background-color header-color
