.content-wrapper
  min-height 100%
  padding-bottom -100px
  padding-top -70px
  display: block
  background-color header-color
.btn
  font-size 2rem
.banner
  background-color header-color
.banner_wrap
  padding 0
  //background-image url("../../images/banner-001.jpg")
  //width 100%
  //height 300px
  //background-repeat no-repeat
.city
  width 100%

.news
  text-align center
  background-color btn-color
  color white
  font-size 3rem
  padding 15px 0
//.pic
//  margin-top 3px
.art
  width 100%
  margin 10px 0
.article
  background-color header-color
.article_title
  background-color #BEC3CE
  padding-bottom 10px
  margin-bottom 15px
.text
  font-family Geneva, Arial, Helvetica, sans-serif
  font-size 2rem
.date
  padding-bottom 25px
  font-size 2rem
  text-align right
.subscribe
  margin-bottom  50px
  align-content center
.title_subscribe
  background-color btn-color
  color white
  text-align center
  margin-bottom 25px
  font-family Geneva, Arial, Helvetica, sans-serif
  font-size 2rem
  padding 15px 0
.title_form
  text-align center
  font-family Geneva, Arial, Helvetica, sans-serif
  font-size 2rem
  margin-bottom 25px
.star
  color red
  text-align center
  padding-bottom 15px
  font-size 2rem
.form_text
  text-align center
  font-size 1.7rem

