.content-wrapper
  min-height 100%
  padding-bottom -100px
  padding-top -70px
  display: block
.banner
  background-color header-color
.banner_wrap
  padding 0
.city
  width 100%

.news
  text-align center
  background-color btn-color
  color white
  height 70px
  line-height 100%
.art
  width 100%
.article
  background-color header-color
.article_title
  background-color #A1D6E0
.text
  font-family Geneva, Arial, Helvetica, sans-serif
  font-size 2rem
.subscribe
  margin 50px 0
.title_subscribe
  background-color btn-color
  color white
  text-align center
  margin-bottom 50px
  padding-bottom 10px