.header 
  height 70px
  width 100%
  background-color: header-color
  line-height 70px
.logo
  width 100%
//.content
//  margin 0 auto
//  padding 0
//.banner
////width 996px
//  text-align center
//  margin 0 0
//.city
//  width 100%
//  text-align center