.header 
  height 70px
  width 100%
  background-color: header-color
  line-height 70px
.logo
  width 100%
html, body
  height: 100%
.address
  font-family Geneva, Arial, Helvetica, sans-serif
  color btn-color
  font-size 2rem